@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: 'Roboto', Sans-Serif;
    font-size: 16.8px;
    background-color: #FEFEFE;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h1 {font-size: 1.5rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.3rem;}
h4 {font-size: 1.2rem;}
h5 {font-size: 1.1rem;}
h6 {font-size: 1rem;}

ul, ol {
    padding-left: 20px;
}

ul li, ol li  {
    list-style-position:inside;
}

p {margin-bottom: 15px;}

.bold {font-weight: 700;}
.italic {font-style: oblique;}
.underline {text-decoration: underline;}

.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

.note {font-size: 0.8rem;}
.nospace {margin: 0;}

a {
    text-decoration: none;
    color: #5b9aff;
}

a:hover {text-decoration: underline;}

a:visited {color: #5b9aff;}

input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    margin: 3px;
    padding: 5px;
    background-color: #cfdef7;
    border: 1px solid #cfdef7;
    border-radius: 3px;
    
}

input[type="submit"] {
    width: 200px;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    color: #FEFEFE;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 200px;
}

input.short {width: 100px;}

select {width: 150px;}

div#top-nav{
    padding: 10px 0px;
    background-color: #4285f4;
    box-shadow: -5px -5px 15px 0px #333;
    width: 100%;
    text-align: center;
    color: #FEFEFE;
}

div#top-nav a{color:#FEFEFE;}
div#top-nav a:hover{
    text-decoration:none;
    font-weight: 600;
}

div#top-nav img {
    height: 24px;
    vertical-align: middle;
    margin: 0px 4px;
}

div#title {
    font-size: 2rem;
    font-variant: small-caps;
}

div#navigation {
    margin-top: 10px;
}

div#navigation > span {
    display: inline-block;
    margin: 3px 0px 3px 10px;
    white-space: nowrap;
}

div.content {
    margin: 25px auto;
    padding: 10px;
    max-width: 700px;
    line-height: 1.5rem;
}

p#intro {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

div#feedback {
    color: #F43;
    text-align: center;
    margin-top: 10px;
}

fieldset {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 5px 15px;
    background-color: #f4f6f9;
    margin: 15px 0px 25px 0px;
}

legend {
    margin: 0px 10px;
    text-shadow: 2px 2px 3px #333;
}

.badger {
    display: inline;
    font-size: 0.9rem;
    white-space: nowrap;
}

.badger span {
    padding: 3px;
    margin: 0;
}

.badger span:nth-child(1) {
    background-color: #333;
    color: #FEFEFE;
}

.badger .green {background-color: #7C2;}
.badger .amber {background-color: #f4b642;}
.badger .red {background-color: #ff5959;}

code.block {
    background-color: #f4f6f9;
    border-radius: 2px;
    font-size: 0.8rem;
    padding: 5px;
}

div#admin {
    width: 90%;
    margin: 25px auto;
    padding: 10px;
}

table#admin {
    font-family: monospace;
    font-size: 0.8rem;
    width: 100%;
    border-collapse: collapse;
}


table#admin tbody tr:nth-child(odd) {background-color: #f4f6f9;}
table#admin td, table#admin th {padding: 0px 5px;}

table#admin thead tr {
    background-color: #333;
    color: #FEFEFE;
    text-align: left;
}
